@import "../../Utils/variables.scss";
@import "../../Utils/mixins.scss";

.CheeseGallery {
    padding: 40px 0;

    &__container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 85vw;
    }

    &__title {
        align-self: flex-end;
        font-size: clamp(28px, 2rem, 36px);
        text-transform: uppercase;
    }

    &__Cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.5vw;
        margin-top: 40px;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}