@import "../../Utils/variables.scss";

.highlight {
    position: absolute;
    bottom: -10px; 
    left: 0;
    height: 30px;
    width: 30%;
    border-bottom: 5px solid rgba($primary, 0.8);
    // background: rgba($primary, 0.4);
    transition: width 1.3s ease-in-out;
    &--small {
      height: 20px;
      bottom: -9px;
      left: -7.5%;
    }
  }

.title-container {
  position: relative;
  display: inline-block;
}