@import "../../Utils/variables.scss";
@import "../../Utils/keyframes.scss";
@import "../../Utils/mixins.scss";

.contact {
    &__form {
        display: flex;
        flex-direction: column;
        width: 40vw;

        @include tablet {
            width: 60vw;
        }

        @include mobile {
            width: 75vw;
        }

        &__inputs {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px 0 20px;
            width: 100%;

            &--wrapper {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                width: 100%;
                min-width: 0;

                label {
                    text-align: left;
                    font-size: clamp(12px, 0.875rem, 16px);
                    font-weight: 800;

                    @include tablet {
                        font-size: clamp(14px, 1rem, 18px);
                    }
                }

                input {
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    background: rgba($text, 0.1);
                    border-radius: 25px;
                    border: none;
                    outline-color: $primary;
                    font-size: clamp(12px, 0.875rem, 16px);

                    @include tablet {
                        font-size: clamp(14px, 1rem, 18px);
                    }
                }

                textarea {
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    height: clamp(95px, 6.25rem, 105px);
                    background: rgba($text, 0.1);
                    border-radius: 15px;
                    border: none;
                    outline-color: $primary;
                    font-size: clamp(12px, 0.875rem, 16px);

                    @include tablet {
                        font-size: clamp(14px, 1rem, 18px);
                    }
                }
            }

            &--name-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: auto;
                gap: 1rem;
                box-sizing: border-box;

                @include mobile {
                    flex-direction: column;
                    gap: 2rem;
                }
            }
        }

        &__btn {
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to top, $secondary, $accent);
            color: $text;
            font-weight: 800;
            font-size: clamp(14px, 1rem, 18px);
            box-shadow: $very-light-box-shadow;
            border: none;
            border-radius: 25px;
            padding: 15px;
            width: 30%;
            cursor: pointer;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease-in;

            &:hover {
                transform: scale(110%);

                &::after {
                    opacity: 1;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 25px;
                box-shadow: $light-box-shadow;
                opacity: 0;
                z-index: -1;
                transition: opacity 0.3s ease-in;
            }
        }

        .g-recaptcha {
            align-self: center;
            margin: 0 0 20px 0;
        }

        .clicked {
            animation: clicked 0.5s forwards;
        }

        .message {
            text-align: center;
            font-size: clamp(14px, 1rem, 18px);
            margin: 0 0 20px 0;
            min-height: 20px;
        }

        .confirmMessage {
            animation: fadeIn 1s ease-in-out, fadeOut 1s ease-in-out 4s forwards;
        }

        .errorMessage {
            color: red;
            animation: fadeIn 1s ease-in-out, fadeOut 1s ease-in-out 4s forwards;
        }
    }
}

// Set the background color of the page to the $background variable