@import "../../Utils/variables.scss";
@import "../../Utils/mixins.scss";

.imagelinks {
    width: 100%;
    height: 100vh;
    display: flex;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85vw;
        margin: auto;
    }

    &__title {
        align-self: flex-end;
        font-size: clamp(28px, 2rem, 36px);
        text-transform: uppercase;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }

    &__link {
        position: relative;
        display: flex;
        height: 50vh;
        width: auto;
        border-radius: 2px;
        overflow: hidden;

        &--overlay {
            background: rgba($text, 0.9);
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 0.2;

                ~.imagelinks__image {
                    transform: scale(1.1);
                }
            }
        }

        &__title {
            font-size: clamp(20px, 1.5rem, 28px);
            color: rgba($text, 0.9);
            position: absolute;
            top: 25px;
            left: 25px;
            z-index: 2;

            @include mobile {
                left: 15px;
            }
        }
    }

    &__image {
        position: relative;
        width: 42vw;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s ease-in-out;

    }
}