@import '../../Utils/variables.scss';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $background;
		padding: 20px;
		border-radius: 5px;
		max-width: 1000px;
		max-height: 80vh;
		overflow: auto;

		&__closing {
			position: relative;
			padding: 10px 0;

			&--btn {
				position: absolute;
				top: 0;
				right: 0;
				height: 20px;
				color: $text;
				cursor: pointer;
			}
		}

		&__formContainer {
			&--title {
				text-align: center;
				font-size: 1.5rem;
				padding: 20px;
			}

			&--form {
				display: flex;
				flex-direction: column;
				width: 50vw;
				height: 50vh;
				gap: 20px;
			}

			&--inputControl {
				display: flex;
				flex-direction: column;
				gap: 5px;

				input {
					padding: 4px;
				}
				textarea {
					padding: 4px;
					min-height: 200px;
				}
			}
		}
	}
}
