@import url('https://fonts.googleapis.com/css?family=Krub:700|Manjari:400|Poppins:600');
@import "./Utils/variables.scss";
@import "./Utils/keyframes.scss";

body .App {
  font-family: $text-font, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  background: $background;
  color: $grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  margin: auto;
  box-sizing: border-box;

  h2,
  h3,
  h4,
  h5 {
    font-family: $title-font;
    font-weight: 700;
    color: $text;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, label, select, textarea, button {
  font-family: $text-font;
  color: $text;
}

// Arrow to top
.backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: rgba($background, 0.8);
  font-size: 2rem;
  background: rgba($primary, 0.8);
  box-shadow: $very-light-box-shadow;
  border-radius: 50%;
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s opacity ease-in;

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}

// Visually hidden for screen readers
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}