@import '../../Utils/variables.scss';
@import '../../Utils/mixins.scss';

.textandimage {
	padding: 14vh 5vw 10vh;

	@include tablet {
		justify-content: center;
		padding: 10vh 10vw;
	}

	&--reverse {
		padding: 10vh 5vw;
		.textandimage__text {
			align-self: flex-end;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		gap: 5vw;

		@include tablet {
			flex-direction: column;
			gap: 0;
		}

		&--reverse {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			gap: 5vw;

			@include tablet {
				display: block;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 55px;
	}

	&__title {
		font-size: clamp(28px, 2rem, 36px);
		text-transform: uppercase;
		align-self: start;
		color: $text;

		&--align-end {
			align-self: end;
		}

		@include mobile {
			font-size: clamp(28px, 1.5rem, 36px);
			align-self: center;
		}
	}

	&__text {
		font-weight: 400;
		text-align: justify;
		font-size: clamp(20px, 1.5rem, 28px);
	}

	&__illustration {
		width: 35vw;
		height: 50vh;
		object-fit: cover;

		@include tablet {
			display: none;
		}

		@include mobile {
			display: none;
		}
	}
}
