// colors
$text: #100909;
$background: #ffffff;
$primary: #e09370;
$secondary: #a9d0ba;
$accent: #8ab6bf;

// fonts 
$title-font: 'Poppins';
$text-font: 'Manjari';

// box shadow
$box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.5);
$light-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.3);
$box-shadow-hover: 0px 3px 10px 3px rgba(0,0,0,0.7);
$very-light-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.2);

// breakpoints
$tablet : 1024px;
$mobile : 767px;