@import '../../Utils/variables.scss';
@import '../../Utils/mixins.scss';

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: $light-box-shadow;
    border-radius: 2%;
    cursor: pointer;

    img {
        object-fit: cover;
        height: clamp(240px, 19rem, 400px);
        display: block;
        width: 100%;
    }

    figcaption {
        font-size: clamp(24px ,1.7rem, 32px);
        font-family: 'krub';
        margin: 17.6px 0;
        color: $background;
        height: clamp(28px, 2rem, 38px);
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            font-size: clamp(20px, 1.5rem, 28px);
        }
    }

    &__description {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: clamp(56px, 4rem, 72px);
        background: rgba($accent, 0.7);
        color: rgba($text, 0.8);
        text-align: center;
        transition: height 0.5s ease;
        overflow: hidden;
        padding: 0 5%;
        font-size: clamp(20px, 1.5rem, 28px);
        font-weight: bold;
        box-sizing: border-box;

        @include mobile {
            font-size: clamp(14px, 1rem, 20px);
        }
    }

    &:hover .card__description {
        height: 100%; 
    }

}